In [1]:
import pandas as pd
# Load data from CSV files into separate DataFrames
data1 = pd.read_csv('ResaleFlatPricesBasedonApprovalDate19901999 (1).csv')
data2 = pd.read_csv('ResaleFlatPricesBasedonApprovalDate2000Feb2012.csv')
data3 = pd.read_csv('ResaleFlatPricesBasedonRegistrationDateFromMar2012toDec2014.csv')
data4 = pd.read_csv('ResaleFlatPricesBasedonRegistrationDateFromJan2015toDec2016.csv')
data5 = pd.read_csv('ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv')

In [4]:
data1.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200

In [5]:
data1.shape

(287196, 10)

In [6]:
data2.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2000-01,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,07 TO 09,69.0,Improved,1986,147000.0
1,2000-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,144000.0
2,2000-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,159000.0
3,2000-01,ANG MO KIO,3 ROOM,215,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,167000.0
4,2000-01,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1976,163000.0

In [7]:
data2.shape

(369651, 10)

In [8]:
data3.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2012-03,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,250000.0
1,2012-03,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,265000.0
2,2012-03,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,315000.0
3,2012-03,ANG MO KIO,3 ROOM,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,320000.0
4,2012-03,ANG MO KIO,3 ROOM,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,321000.0

In [2]:
data3.shape

(52203, 10)

In [3]:
# Function to calculate remaining lease based on year and lease commencement date
def remaining(data):
    data['year'] = data['month'].str[:4]
    data['year'] = data['year'].astype(int)
    data['remaining_lease'] = 99 - (data['year'] - data['lease_commence_date'])
    data = data.drop(['year'], axis = 1)
    return data

In [4]:
# Apply remaining lease calculation to the first three datasets
data1 = remaining(data1)
data2 = remaining(data2)
data3 = remaining(data3)

In [12]:
data4.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0

In [13]:
data4.shape

(37153, 11)

In [14]:
data5.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [15]:
data5.shape

(188415, 11)

In [5]:
# Removing extra string from remaining_lease (Eg:- years 04 months)
data5['remaining_lease'] = data5['remaining_lease'].str[:2]

In [6]:
# Combine all DataFrames into one DataFrame
combined_df = pd.concat([data1,data2,data3,data4,data5], ignore_index = True)

In [7]:
combined_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,86
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,86
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,86
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,86
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,85

In [8]:
combined_df.shape

(934618, 11)

In [9]:
combined_df.isnull().sum()

month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
resale_price           0
remaining_lease        0
dtype: int64

In [10]:
combined_df = combined_df.drop_duplicates()

In [11]:
combined_df.shape

(932649, 11)

In [15]:
# Function to calculate the median of the storey range (e.g., '5 TO 10' -> (5+10)/2)
def calculate_mean(range_str):
    start, end = range_str.split(' TO ')
    return (int(start) + int(end)) / 2

In [16]:
# Apply the storey range median calculation
combined_df['storey_mean'] = combined_df['storey_range'].apply(calculate_mean)

In [18]:
combined_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_mean
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,improved,1977,9000.0,86,11.0
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,improved,1977,6000.0,86,5.0
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,improved,1977,8000.0,86,11.0
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,improved,1977,6000.0,86,8.0
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,new generation,1976,47200.0,85,5.0

In [19]:
import glob
import pandas as pd
import json
import requests

In [20]:
# List of MRT stations in Singapore
list_of_mrt = [
    'Jurong East MRT Station',
    'Bukit Batok MRT Station',
    'Bukit Gombak MRT Station',
    'Choa Chu Kang MRT Station',
    'Yew Tee MRT Station',
    'Kranji MRT Station',
    'Marsiling MRT Station',
    'Woodlands MRT Station',
    'Admiralty MRT Station',
    'Sembawang MRT Station',
    'Canberra MRT Station',
    'Yishun MRT Station',
    'Khatib MRT Station',
    'Yio Chu Kang MRT Station',
    'Ang Mo Kio MRT Station',
    'Bishan MRT Station',
    'Braddell MRT Station',
    'Toa Payoh MRT Station',
    'Novena MRT Station',
    'Newton MRT Station',
    'Orchard MRT Station',
    'Somerset MRT Station',
    'Dhoby Ghaut MRT Station',
    'City Hall MRT Station',
    'Raffles Place MRT Station',
    'Marina Bay MRT Station',
    'Marina South Pier MRT Station',
    'Pasir Ris MRT Station',
    'Tampines MRT Station',
    'Simei MRT Station',
    'Tanah Merah MRT Station',
    'Bedok MRT Station',
    'Kembangan MRT Station',
    'Eunos MRT Station',
    'Paya Lebar MRT Station',
    'Aljunied MRT Station',
    'Kallang MRT Station',
    'Lavender MRT Station',
    'Bugis MRT Station',
    'Tanjong Pagar MRT Station',
    'Outram Park MRT Station',
    'Tiong Bahru MRT Station',
    'Redhill MRT Station',
    'Queenstown MRT Station',
    'Commonwealth MRT Station',
    'Buona Vista MRT Station',
    'Dover MRT Station',
    'Clementi MRT Station',
    'Chinese Garden MRT Station',
    'Lakeside MRT Station',
    'Boon Lay MRT Station',
    'Pioneer MRT Station',
    'Joo Koon MRT Station',
    'Gul Circle MRT Station',
    'Tuas Crescent MRT Station',
    'Tuas West Road MRT Station',
    'Tuas Link MRT Station',
    'Expo MRT Station',
    'Changi Airport MRT Station',
    'HarbourFront MRT Station',
    'Chinatown MRT Station',
    'Clarke Quay MRT Station',
    'Little India MRT Station',
    'Farrer Park MRT Station',
    'Boon Keng MRT Station',
    'Potong Pasir MRT Station',
    'Woodleigh MRT Station',
    'Serangoon MRT Station',
    'Kovan MRT Station',
    'Hougang MRT Station',
    'Buangkok MRT Station',
    'Sengkang MRT Station',
    'Punggol MRT Station',
    'Bras Basah MRT Station',
    'Esplanade MRT Station',
    'Promenade MRT Station',
    'Nicoll Highway MRT Station',
    'Stadium MRT Station',
    'Mountbatten MRT Station',
    'Dakota MRT Station',
    'MacPherson MRT Station',
    'Tai Seng MRT Station',
    'Bartley MRT Station',
    'Lorong Chuan MRT Station',
    'Marymount MRT Station',
    'Caldecott MRT Station',
    'Botanic Gardens MRT Station',
    'Farrer Road MRT Station',
    'Holland Village MRT Station',
    'one-north MRT Station',
    'Kent Ridge MRT Station',
    'Haw Par Villa MRT Station',
    'Pasir Panjang MRT Station',
    'Labrador Park MRT Station',
    'Telok Blangah MRT Station',
    'Bayfront MRT Station',
    'Bukit Panjang MRT Station',
    'Cashew MRT Station',
    'Hillview MRT Station',
    'Beauty World MRT Station',
    'King Albert Park MRT Station',
    'Sixth Avenue MRT Station',
    'Tan Kah Kee MRT Station',
    'Stevens MRT Station',
    'Rochor MRT Station',
    'Downtown MRT Station',
    'Telok Ayer MRT Station',
    'Fort Canning MRT Station',
    'Bencoolen MRT Station',
    'Jalan Besar MRT Station',
    'Bendemeer MRT Station',
    'Geylang Bahru MRT Station',
    'Mattar MRT Station',
    'Ubi MRT Station',
    'Kaki Bukit MRT Station',
    'Bedok North MRT Station',
    'Bedok Reservoir MRT Station',
    'Tampines West MRT Station',
    'Tampines East MRT Station',
    'Upper Changi MRT Station',
    'Woodlands North MRT Station',
    'Woodlands South MRT Station'
]

In [21]:
import requests
import json

mrt_lat = [] # To store MRT station latitudes
mrt_long = [] # To store MRT station longitudes

# Loop through each MRT station to get its latitude and longitude using the OneMap API
for query_address in list_of_mrt:
    query_string = 'https://www.onemap.gov.sg/api/common/elastic/search?searchVal='+str(query_address)+'&returnGeom=Y&getAddrDetails=Y&pageNum=1'
    
    try:
        resp = requests.get(query_string)
        resp.raise_for_status()  # Raise an HTTPError for bad responses

        data_mrt = resp.json()

        if data_mrt['found'] > 0:
            mrt_lat.append(data_mrt["results"][0]["LATITUDE"])
            mrt_long.append(data_mrt["results"][0]["LONGITUDE"])
            print(f"{query_address}, Lat: {data_mrt['results'][0]['LATITUDE']} Long: {data_mrt['results'][0]['LONGITUDE']}")
        else:
            mrt_lat.append('NotFound')
            mrt_long.append('NotFound')
            print("No Results")

    except requests.RequestException as e:
        # Handle requests exceptions (including ConnectionError)
        mrt_lat.append('Error')
        mrt_long.append('Error')
        print(f"Request failed for {query_address}: {e}")

Jurong East MRT Station, Lat: 1.33329506563598 Long: 103.742153884191
Bukit Batok MRT Station, Lat: 1.34903331201636 Long: 103.749566478309
Bukit Gombak MRT Station, Lat: 1.35861159094192 Long: 103.751790910733
Choa Chu Kang MRT Station, Lat: 1.38536316540225 Long: 103.744370779756
Yew Tee MRT Station, Lat: 1.39729771118639 Long: 103.74735767326
Kranji MRT Station, Lat: 1.4250690629411 Long: 103.762099449562
Marsiling MRT Station, Lat: 1.43262603485889 Long: 103.774051197031
Woodlands MRT Station, Lat: 1.43681962961519 Long: 103.786066799253
Admiralty MRT Station, Lat: 1.44058856161847 Long: 103.800990519771
Sembawang MRT Station, Lat: 1.44902668521092 Long: 103.820139486468
Canberra MRT Station, Lat: 1.44307664075699 Long: 103.829702590959
Yishun MRT Station, Lat: 1.42952522867762 Long: 103.834995141847
Khatib MRT Station, Lat: 1.41758906054002 Long: 103.833061043125
Yio Chu Kang MRT Station, Lat: 1.38149882492597 Long: 103.845170704861
Ang Mo Kio MRT Station, Lat: 1.36993284962264 Long: 103.849558091776
Bishan MRT Station, Lat: 1.35101889777844 Long: 103.850057208608
Braddell MRT Station, Lat: 1.34010520696434 Long: 103.846755921048
Toa Payoh MRT Station, Lat: 1.3326840912586 Long: 103.847608851178
Novena MRT Station, Lat: 1.32021100706836 Long: 103.843656761867
Newton MRT Station, Lat: 1.31260208570591 Long: 103.838149921649
Orchard MRT Station, Lat: 1.30242224836722 Long: 103.823868523249
Somerset MRT Station, Lat: 1.30018113242454 Long: 103.839311084296
Dhoby Ghaut MRT Station, Lat: 1.29868872290409 Long: 103.846179896647
City Hall MRT Station, Lat: 1.29298990700923 Long: 103.852542630339
Raffles Place MRT Station, Lat: 1.28393326234538 Long: 103.851463066212
Marina Bay MRT Station, Lat: 1.27642735476716 Long: 103.854597776754
Marina South Pier MRT Station, Lat: 1.27102703612006 Long: 103.862447515736
Pasir Ris MRT Station, Lat: 1.37300805046319 Long: 103.949265083922
Tampines MRT Station, Lat: 1.35619148271544 Long: 103.9546344625
Simei MRT Station, Lat: 1.34317949620659 Long: 103.953309510101
Tanah Merah MRT Station, Lat: 1.32731098211445 Long: 103.946451703007
Bedok MRT Station, Lat: 1.32397996868158 Long: 103.929984495066
Kembangan MRT Station, Lat: 1.32104702761608 Long: 103.91292554527
Eunos MRT Station, Lat: 1.31976065808207 Long: 103.903047958324
Paya Lebar MRT Station, Lat: 1.31810656871073 Long: 103.893158734867
Aljunied MRT Station, Lat: 1.3164326118157 Long: 103.882906044385
Kallang MRT Station, Lat: 1.31148890998818 Long: 103.871386541754
Lavender MRT Station, Lat: 1.30750657093807 Long: 103.86293845244
Bugis MRT Station, Lat: 1.30026468984101 Long: 103.855614760658
Tanjong Pagar MRT Station, Lat: 1.27656131737246 Long: 103.845725186759
Outram Park MRT Station, Lat: 1.2802415328084 Long: 103.840052100136
Tiong Bahru MRT Station, Lat: 1.28610253588403 Long: 103.827445112691
Redhill MRT Station, Lat: 1.28934817825579 Long: 103.817043991803
Queenstown MRT Station, Lat: 1.29419362236417 Long: 103.806100814457
Commonwealth MRT Station, Lat: 1.30250199924325 Long: 103.798228523336
Buona Vista MRT Station, Lat: 1.30627534823257 Long: 103.790363200126
Dover MRT Station, Lat: 1.31139153717332 Long: 103.778656381761
Clementi MRT Station, Lat: 1.31511625277378 Long: 103.765191452888
Chinese Garden MRT Station, Lat: 1.34235282081401 Long: 103.732596738363
Lakeside MRT Station, Lat: 1.34410477510373 Long: 103.720301861904
Boon Lay MRT Station, Lat: 1.33860405469845 Long: 103.706064622772
Pioneer MRT Station, Lat: 1.33756383090029 Long: 103.697631494536
Joo Koon MRT Station, Lat: 1.32769436492908 Long: 103.678085068438
Gul Circle MRT Station, Lat: 1.31947090075208 Long: 103.660530461345
Tuas Crescent MRT Station, Lat: 1.32102695598684 Long: 103.649078235627
Tuas West Road MRT Station, Lat: 1.32998504653102 Long: 103.639616648771
Tuas Link MRT Station, Lat: 1.34088242451105 Long: 103.636991425128
Expo MRT Station, Lat: 1.33454977824817 Long: 103.961548211018
Changi Airport MRT Station, Lat: 1.35747897447692 Long: 103.98788356959
HarbourFront MRT Station, Lat: 1.26531139858465 Long: 103.820557316696
Chinatown MRT Station, Lat: 1.2839640518753 Long: 103.843141945391
Clarke Quay MRT Station, Lat: 1.28745211415803 Long: 103.846119192727
Little India MRT Station, Lat: 1.30724381608438 Long: 103.849841614124
Farrer Park MRT Station, Lat: 1.31314029963164 Long: 103.854754721344
Boon Keng MRT Station, Lat: 1.31993957653291 Long: 103.862052698446
Potong Pasir MRT Station, Lat: 1.3318797140041 Long: 103.869057877586
Woodleigh MRT Station, Lat: 1.33982824592182 Long: 103.87096088798
Serangoon MRT Station, Lat: 1.35063361526525 Long: 103.872771660431
Kovan MRT Station, Lat: 1.35990191952976 Long: 103.884494725197
Hougang MRT Station, Lat: 1.37033472429161 Long: 103.892261757937
Buangkok MRT Station, Lat: 1.38369417199994 Long: 103.893049981318
Sengkang MRT Station, Lat: 1.39174613283898 Long: 103.895508171163
Punggol MRT Station, Lat: 1.40512956754102 Long: 103.902369773585
Bras Basah MRT Station, Lat: 1.29686168649656 Long: 103.850667371637
Esplanade MRT Station, Lat: 1.29133990707454 Long: 103.854609475029
Promenade MRT Station, Lat: 1.29307389602149 Long: 103.861067235865
Nicoll Highway MRT Station, Lat: 1.29956843029404 Long: 103.863977721184
Stadium MRT Station, Lat: 1.3028124684707 Long: 103.875337711089
Mountbatten MRT Station, Lat: 1.30615406128913 Long: 103.883045148696
Dakota MRT Station, Lat: 1.30843144331463 Long: 103.889268208422
MacPherson MRT Station, Lat: 1.32583875798262 Long: 103.890312834364
Tai Seng MRT Station, Lat: 1.33533999302463 Long: 103.888265446029
Bartley MRT Station, Lat: 1.3424454382925 Long: 103.880197087117
Lorong Chuan MRT Station, Lat: 1.35153128621585 Long: 103.864812169514
Marymount MRT Station, Lat: 1.348707263451 Long: 103.839423132332
Caldecott MRT Station, Lat: 1.33734722320212 Long: 103.839544077561
Botanic Gardens MRT Station, Lat: 1.32238699517166 Long: 103.815385463093
Farrer Road MRT Station, Lat: 1.31743915158967 Long: 103.807379214161
Holland Village MRT Station, Lat: 1.31226422601049 Long: 103.796470444998
one-north MRT Station, Lat: 1.29968953488969 Long: 103.787412789536
Kent Ridge MRT Station, Lat: 1.29353349887123 Long: 103.784572738173
Haw Par Villa MRT Station, Lat: 1.28195688684898 Long: 103.781988990137
Pasir Panjang MRT Station, Lat: 1.27621352233766 Long: 103.791350313288
Labrador Park MRT Station, Lat: 1.27236838626952 Long: 103.803416232089
Telok Blangah MRT Station, Lat: 1.27070647772509 Long: 103.809761611219
Bayfront MRT Station, Lat: 1.28187378879209 Long: 103.859079764874
Bukit Panjang MRT Station, Lat: 1.37956121236613 Long: 103.761188866252
Cashew MRT Station, Lat: 1.36984601365741 Long: 103.764315051619
Hillview MRT Station, Lat: 1.36288845715168 Long: 103.767780907707
Beauty World MRT Station, Lat: 1.34090149001429 Long: 103.775746717778
King Albert Park MRT Station, Lat: 1.335893496278 Long: 103.783235863233
Sixth Avenue MRT Station, Lat: 1.33085764536226 Long: 103.796906838288
Tan Kah Kee MRT Station, Lat: 1.32639224146351 Long: 103.806548201692
Stevens MRT Station, Lat: 1.32006555750626 Long: 103.826024401924
Rochor MRT Station, Lat: 1.30385218555028 Long: 103.852769429428
Downtown MRT Station, Lat: 1.27944638178916 Long: 103.852840829581
Telok Ayer MRT Station, Lat: 1.28206894769394 Long: 103.848648781083
Fort Canning MRT Station, Lat: 1.29248194822996 Long: 103.844331362465
Bencoolen MRT Station, Lat: 1.29891843369422 Long: 103.850353762717
Jalan Besar MRT Station, Lat: 1.3051713878069 Long: 103.855295713435
Bendemeer MRT Station, Lat: 1.31367252847691 Long: 103.862977620945
Geylang Bahru MRT Station, Lat: 1.32130110228321 Long: 103.871622627142
Mattar MRT Station, Lat: 1.32687671501334 Long: 103.883247509542
Ubi MRT Station, Lat: 1.3298832504798 Long: 103.899082581327
Kaki Bukit MRT Station, Lat: 1.33496735995428 Long: 103.908459338046
Bedok North MRT Station, Lat: 1.33474211664091 Long: 103.91797832995
Bedok Reservoir MRT Station, Lat: 1.33660782955099 Long: 103.932234623286
Tampines West MRT Station, Lat: 1.3456336579777 Long: 103.938492495285
Tampines East MRT Station, Lat: 1.35619148271544 Long: 103.9546344625
Upper Changi MRT Station, Lat: 1.34173977444995 Long: 103.961472788634
Woodlands North MRT Station, Lat: 1.44829245259621 Long: 103.785692682441
Woodlands South MRT Station, Lat: 1.42739605281442 Long: 103.79326432221

In [22]:
# Create a DataFrame for MRT locations with their latitude and longitude
mrt_location = pd.DataFrame({
    'MRT': list_of_mrt,
    'latitude': mrt_lat,
    'longitude': mrt_long
})

In [23]:
# Save MRT location data to a CSV file
mrt_location.to_csv('mrt_location.csv', index = False)

In [36]:
# Combine 'block' and 'street_name' columns to form the full address in the combined DataFrame
combined_df['address'] = combined_df['block'] + " " + combined_df['street_name']

In [37]:
combined_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_mean,address
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,improved,1977,9000.0,86,11.0,309 ANG MO KIO AVE 1
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,improved,1977,6000.0,86,5.0,309 ANG MO KIO AVE 1
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,improved,1977,8000.0,86,11.0,309 ANG MO KIO AVE 1
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,improved,1977,6000.0,86,8.0,309 ANG MO KIO AVE 1
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,new generation,1976,47200.0,85,5.0,216 ANG MO KIO AVE 1

In [38]:
address_list = combined_df['address'].unique() # Get unique addresses

In [39]:
latitude = []
longitude = []
blk_no = []
road_name = []
postal_code = []
address = []
count = 0

# Loop through the address list and get coordinates and details for each address using the OneMap API
for row in range(len(address_list)):
    query_address = address_list[row]
    query_string='https://www.onemap.gov.sg/api/common/elastic/search?searchVal='+str(query_address)+'&returnGeom=Y&getAddrDetails=Y&pageNum=1'
    resp = requests.get(query_string)


    data_geo_location=json.loads(resp.content)
    if data_geo_location['found'] != 0:
        latitude.append(data_geo_location['results'][0]['LATITUDE'])
        longitude.append(data_geo_location['results'][0]['LONGITUDE'])
        blk_no.append(data_geo_location['results'][0]['BLK_NO'])
        road_name.append(data_geo_location['results'][0]['ROAD_NAME'])
        postal_code.append(data_geo_location['results'][0]['POSTAL'])
        address.append(query_address)
        print (str(query_address) + " ,Lat: " + data_geo_location['results'][0]['LATITUDE'] + " Long: " + data_geo_location['results'][0]['LONGITUDE'])
    else:
        print ("No Results")

309 ANG MO KIO AVE 1 ,Lat: 1.36655830166122 Long: 103.841624082978
216 ANG MO KIO AVE 1 ,Lat: 1.36619678831054 Long: 103.841505011903
211 ANG MO KIO AVE 3 ,Lat: 1.369196965617 Long: 103.841666636086
202 ANG MO KIO AVE 3 ,Lat: 1.36844644010937 Long: 103.844516260527
235 ANG MO KIO AVE 3 ,Lat: 1.36682360872342 Long: 103.83649123351
232 ANG MO KIO AVE 3 ,Lat: 1.36834606813391 Long: 103.837196046409
308 ANG MO KIO AVE 1 ,Lat: 1.36569665029696 Long: 103.844347269095
220 ANG MO KIO AVE 1 ,Lat: 1.36558833593063 Long: 103.840518883254
219 ANG MO KIO AVE 1 ,Lat: 1.36598198004505 Long: 103.840654039612
247 ANG MO KIO AVE 3 ,Lat: 1.36708983179046 Long: 103.845660199054
320 ANG MO KIO AVE 1 ,Lat: 1.36559244608528 Long: 103.848386744168
252 ANG MO KIO AVE 4 ,Lat: 1.37858940772641 Long: 103.840329743826
223 ANG MO KIO AVE 1 ,Lat: 1.36604808445916 Long: 103.838122716883
230 ANG MO KIO AVE 3 ,Lat: 1.36885445228086 Long: 103.837896397823
329 ANG MO KIO AVE 3 ,Lat: 1.36659908629034 Long: 103.846874419073
313 ANG MO KIO AVE 3 ,Lat: 1.36664972640598 Long: 103.850133665442
117 ANG MO KIO AVE 4 ,Lat: 1.3737170825368 Long: 103.835610469339
110 ANG MO KIO AVE 4 ,Lat: 1.37045937010888 Long: 103.837419259859
343 ANG MO KIO AVE 3 ,Lat: 1.36837474759489 Long: 103.849151113749
345 ANG MO KIO AVE 3 ,Lat: 1.36748702509964 Long: 103.849651723914
346 ANG MO KIO AVE 3 ,Lat: 1.36709586875167 Long: 103.84966230288
121 ANG MO KIO AVE 3 ,Lat: 1.36970563478325 Long: 103.843515981311
129 ANG MO KIO AVE 3 ,Lat: 1.36989498895756 Long: 103.842059049722
130 ANG MO KIO AVE 3 ,Lat: 1.37039791675237 Long: 103.841878840032
128 ANG MO KIO AVE 3 ,Lat: 1.37083202800001 Long: 103.843546990613
127 ANG MO KIO AVE 3 ,Lat: 1.37122322102767 Long: 103.843593321222
126 ANG MO KIO AVE 3 ,Lat: 1.37164990020956 Long: 103.843644176374
403 ANG MO KIO AVE 10 ,Lat: 1.36126901451361 Long: 103.854642365822
404 ANG MO KIO AVE 10 ,Lat: 1.36167767060852 Long: 103.854726492538
405 ANG MO KIO AVE 10 ,Lat: 1.36157912717139 Long: 103.853805386957
417 ANG MO KIO AVE 10 ,Lat: 1.36495953274783 Long: 103.855197097728
418 ANG MO KIO AVE 10 ,Lat: 1.3649460137791 Long: 103.854043379775
419 ANG MO KIO AVE 10 ,Lat: 1.36534669720177 Long: 103.85415182597
441 ANG MO KIO AVE 10 ,Lat: 1.36605027829032 Long: 103.854168309853
442 ANG MO KIO AVE 10 ,Lat: 1.36565326940253 Long: 103.855232195496
443 ANG MO KIO AVE 10 ,Lat: 1.36604388871674 Long: 103.855368968681
444 ANG MO KIO AVE 10 ,Lat: 1.36660045321147 Long: 103.855578790668
450 ANG MO KIO AVE 10 ,Lat: 1.36848406233048 Long: 103.855468149019
435 ANG MO KIO AVE 10 ,Lat: 1.36770367834269 Long: 103.854214313011
433 ANG MO KIO AVE 10 ,Lat: 1.36807652285135 Long: 103.854353042615
434 ANG MO KIO AVE 10 ,Lat: 1.3678915069194 Long: 103.85345502653
424 ANG MO KIO AVE 3 ,Lat: 1.36860660305158 Long: 103.850808805402
425 ANG MO KIO AVE 3 ,Lat: 1.36912241721255 Long: 103.851616057064
466 ANG MO KIO AVE 10 ,Lat: 1.36581960538764 Long: 103.857061606231
471 ANG MO KIO AVE 10 ,Lat: 1.36346600647245 Long: 103.856702918462
474 ANG MO KIO AVE 10 ,Lat: 1.36275784702216 Long: 103.858015323667
570 ANG MO KIO AVE 3 ,Lat: 1.3697435855576 Long: 103.856023138277
586 ANG MO KIO AVE 3 ,Lat: 1.37030352965928 Long: 103.853455898206
455 ANG MO KIO AVE 10 ,Lat: 1.36951942637994 Long: 103.848462230319
465 ANG MO KIO AVE 10 ,Lat: 1.3662010408294 Long: 103.857200967235
463 ANG MO KIO AVE 10 ,Lat: 1.36694793518613 Long: 103.857487648675
564 ANG MO KIO AVE 3 ,Lat: 1.36984837555524 Long: 103.859404131956
560 ANG MO KIO AVE 10 ,Lat: 1.37081626777721 Long: 103.859192334256
558 ANG MO KIO AVE 10 ,Lat: 1.37123613284274 Long: 103.859192016193
559 ANG MO KIO AVE 10 ,Lat: 1.37099810674697 Long: 103.857856391877
538 ANG MO KIO AVE 5 ,Lat: 1.37559336678106 Long: 103.853347801104
534 ANG MO KIO AVE 10 ,Lat: 1.37405846295585 Long: 103.854168170426
601 ANG MO KIO AVE 5 ,Lat: 1.38104134784496 Long: 103.835131744823
603 ANG MO KIO AVE 5 ,Lat: 1.38020079047279 Long: 103.83575571651
604 ANG MO KIO AVE 5 ,Lat: 1.37986658053966 Long: 103.835976650638
608 ANG MO KIO AVE 5 ,Lat: 1.37858209980487 Long: 103.836760311526
611 ANG MO KIO AVE 5 ,Lat: 1.37829205175133 Long: 103.83725190016
505 ANG MO KIO AVE 8 ,Lat: 1.3748597302123 Long: 103.850224901404
503 ANG MO KIO AVE 5 ,Lat: 1.37546163119278 Long: 103.848942047568
610 ANG MO KIO AVE 4 ,Lat: 1.37939470300077 Long: 103.839157232686
607 ANG MO KIO AVE 4 ,Lat: 1.38046758670091 Long: 103.838816721629
524 ANG MO KIO AVE 5 ,Lat: 1.3733782941643 Long: 103.853042534069
513 ANG MO KIO AVE 8 ,Lat: 1.37273696913231 Long: 103.850194854525
643 ANG MO KIO AVE 5 ,Lat: 1.3775062692911 Long: 103.840557182306
542 ANG MO KIO AVE 10 ,Lat: 1.37473841331656 Long: 103.855876768354
548 ANG MO KIO AVE 10 ,Lat: 1.37291376311161 Long: 103.85704609864
550 ANG MO KIO AVE 10 ,Lat: 1.37360769512088 Long: 103.85820494173
639 ANG MO KIO AVE 6 ,Lat: 1.37993407100545 Long: 103.84246297225
637 ANG MO KIO AVE 6 ,Lat: 1.38036187235317 Long: 103.842334616577
330 ANG MO KIO AVE 1 ,Lat: 1.36243186402478 Long: 103.851030689651
333 ANG MO KIO AVE 1 ,Lat: 1.3613425564061 Long: 103.851698621454
156 ANG MO KIO AVE 4 ,Lat: 1.37549519574964 Long: 103.839947470774
152 ANG MO KIO AVE 5 ,Lat: 1.3766876256746 Long: 103.840159506601
178 ANG MO KIO AVE 4 ,Lat: 1.37619319942083 Long: 103.837038191014
180 ANG MO KIO AVE 5 ,Lat: 1.37667706463381 Long: 103.838361037555
209 ANG MO KIO AVE 3 ,Lat: 1.36897079641509 Long: 103.843284524871
231 ANG MO KIO AVE 3 ,Lat: 1.36856103572357 Long: 103.837525234344
254 ANG MO KIO AVE 4 ,Lat: 1.37020344042146 Long: 103.834687722549
103 ANG MO KIO AVE 3 ,Lat: 1.37101657804604 Long: 103.839304839187
105 ANG MO KIO AVE 4 ,Lat: 1.37231328287072 Long: 103.837601112788
344 ANG MO KIO AVE 3 ,Lat: 1.36797705108684 Long: 103.849264839398
324 ANG MO KIO AVE 3 ,Lat: 1.36833392201705 Long: 103.846879231399
120 ANG MO KIO AVE 3 ,Lat: 1.37004739686133 Long: 103.844594754874
124 ANG MO KIO AVE 6 ,Lat: 1.37089179310251 Long: 103.844768276408
414 ANG MO KIO AVE 10 ,Lat: 1.36390466431674 Long: 103.853913839503
438 ANG MO KIO AVE 10 ,Lat: 1.3669708169506 Long: 103.853906591778
427 ANG MO KIO AVE 3 ,Lat: 1.36931185924705 Long: 103.854550605629
428 ANG MO KIO AVE 3 ,Lat: 1.36893906457102 Long: 103.854412288513
473 ANG MO KIO AVE 10 ,Lat: 1.36305380914637 Long: 103.856846002568
573 ANG MO KIO AVE 3 ,Lat: 1.37056143999067 Long: 103.854823102785
585 ANG MO KIO AVE 3 ,Lat: 1.37059756050933 Long: 103.852367040901
456 ANG MO KIO AVE 10 ,Lat: 1.36716071992678 Long: 103.858658520644
544 ANG MO KIO AVE 10 ,Lat: 1.37395961943023 Long: 103.856471368511
640 ANG MO KIO AVE 6 ,Lat: 1.38003436037009 Long: 103.843606664405
638 ANG MO KIO AVE 6 ,Lat: 1.38047559647224 Long: 103.843567764408
646 ANG MO KIO AVE 6 ,Lat: 1.37939517687868 Long: 103.843763599411
150 ANG MO KIO AVE 5 ,Lat: 1.37680678506745 Long: 103.842017962576
179 ANG MO KIO AVE 5 ,Lat: 1.37690418077298 Long: 103.836218103538
336 ANG MO KIO AVE 1 ,Lat: 1.3635938468353 Long: 103.851784409615
335 ANG MO KIO AVE 1 ,Lat: 1.36320996798464 Long: 103.850690597254
401 ANG MO KIO AVE 10 ,Lat: 1.36101765642805 Long: 103.855387562453
439 ANG MO KIO AVE 10 ,Lat: 1.36629197864802 Long: 103.85349630883
430 ANG MO KIO AVE 3 ,Lat: 1.36899287777802 Long: 103.85276134968
460 ANG MO KIO AVE 10 ,Lat: 1.36633947709831 Long: 103.859122319513
459 ANG MO KIO AVE 10 ,Lat: 1.36701964480661 Long: 103.859377190201
716 ANG MO KIO AVE 6 ,Lat: 1.37147783065153 Long: 103.845868750998
545 ANG MO KIO AVE 10 ,Lat: 1.37317921904936 Long: 103.856294541429
620 ANG MO KIO AVE 9 ,Lat: 1.38244082944044 Long: 103.839546376827
622 ANG MO KIO AVE 9 ,Lat: 1.382064341745 Long: 103.839741864292
259 ANG MO KIO AVE 2 ,Lat: 1.36858148248531 Long: 103.831557777899
101 ANG MO KIO AVE 3 ,Lat: 1.37026158388486 Long: 103.839467898898
620 BEDOK RESERVOIR RD ,Lat: 1.33433432226397 Long: 103.917712559288
534 BEDOK NTH ST 3 ,Lat: 1.33303698213001 Long: 103.924812248346
18 BEDOK STH RD ,Lat: 1.32062504871279 Long: 103.934734222428
28 NEW UPP CHANGI RD ,Lat: 1.32369451969703 Long: 103.934994919422
29 NEW UPP CHANGI RD ,Lat: 1.32395813360222 Long: 103.936341250384
30 NEW UPP CHANGI RD ,Lat: 1.32352678248226 Long: 103.936423896498
75 BEDOK NTH RD ,Lat: 1.32791477933184 Long: 103.942144427101
76 BEDOK NTH RD ,Lat: 1.3282966654865 Long: 103.942067527916
501 BEDOK NTH ST 3 ,Lat: 1.33164071248973 Long: 103.931167665142
502 BEDOK NTH ST 3 ,Lat: 1.331245062192 Long: 103.931244293846
503 BEDOK NTH ST 3 ,Lat: 1.33148387479968 Long: 103.932465913287
504 BEDOK NTH ST 3 ,Lat: 1.33188000305479 Long: 103.932389359044
2 BEDOK STH AVE 1 ,Lat: 1.32130118793544 Long: 103.933299574181
20 CHAI CHEE RD ,Lat: 1.32627271243233 Long: 103.922885287154
21 CHAI CHEE RD ,Lat: 1.32577850604228 Long: 103.922424710131
59 CHAI CHEE RD ,Lat: 1.32488916644196 Long: 103.920246730461
58 CHAI CHEE DR ,Lat: 1.32596077136527 Long: 103.919733095241
55 CHAI CHEE DR ,Lat: 1.32684846948333 Long: 103.919015573079
22 BEDOK STH AVE 1 ,Lat: 1.3228317365472 Long: 103.932852166088
105 BEDOK NTH AVE 4 ,Lat: 1.33372280929 Long: 103.936517719048
104 BEDOK NTH AVE 4 ,Lat: 1.3332985212474 Long: 103.936601473643
107 BEDOK NTH RD ,Lat: 1.33231740745783 Long: 103.936301267285
110 BEDOK NTH RD ,Lat: 1.33247206352435 Long: 103.934860475522
69 BEDOK STH AVE 3 ,Lat: 1.31935026360524 Long: 103.943632360195
33 BEDOK STH AVE 2 ,Lat: 1.32283703302242 Long: 103.939124525951
46 BEDOK STH AVE 3 ,Lat: 1.32148575339878 Long: 103.942854747015
117 BEDOK NTH RD ,Lat: 1.33065454769523 Long: 103.938496275607
116 BEDOK NTH RD ,Lat: 1.33100823526591 Long: 103.938066838998
115 BEDOK NTH RD ,Lat: 1.33143368026417 Long: 103.936865404278
125 BEDOK NTH RD ,Lat: 1.32884321524242 Long: 103.939123687022
124 BEDOK NTH RD ,Lat: 1.32925881944574 Long: 103.939046430321
128 BEDOK NTH ST 2 ,Lat: 1.327740236451 Long: 103.939005696963
129 BEDOK NTH ST 2 ,Lat: 1.32755443192195 Long: 103.938030484223
138 BEDOK NTH ST 2 ,Lat: 1.33001011188999 Long: 103.936343483972
87 BEDOK NTH ST 4 ,Lat: 1.33250261426447 Long: 103.938587125421
100 BEDOK NTH AVE 4 ,Lat: 1.33413899974038 Long: 103.938389713003
412 BEDOK NTH AVE 2 ,Lat: 1.32929126082802 Long: 103.931090689284
402 BEDOK NTH AVE 3 ,Lat: 1.33055472908632 Long: 103.933686723902
401 BEDOK NTH AVE 3 ,Lat: 1.33098173461878 Long: 103.933604621756
425 BEDOK NTH RD ,Lat: 1.32936960154503 Long: 103.929067536324
416 BEDOK NTH AVE 2 ,Lat: 1.32840382815915 Long: 103.930684870347
418 BEDOK NTH AVE 2 ,Lat: 1.32856421177174 Long: 103.930036524233
424 BEDOK NTH AVE 1 ,Lat: 1.32842001017396 Long: 103.927482674529
419 BEDOK NTH ST 1 ,Lat: 1.32696621417456 Long: 103.928135771625
136 BEDOK NTH AVE 3 ,Lat: 1.32815498828204 Long: 103.93522082327
529 BEDOK NTH ST 3 ,Lat: 1.33426946144275 Long: 103.926542284602
510 BEDOK NTH ST 3 ,Lat: 1.33212313291916 Long: 103.93105149637
525 BEDOK NTH ST 3 ,Lat: 1.33460113941761 Long: 103.929445271638
202 BEDOK NTH ST 1 ,Lat: 1.32565628436985 Long: 103.927990975389
218 BEDOK NTH ST 1 ,Lat: 1.32735657259634 Long: 103.933767796194
213 BEDOK NTH ST 1 ,Lat: 1.32635298072477 Long: 103.932637214105
532 BEDOK NTH ST 3 ,Lat: 1.33419173917878 Long: 103.925386600613
533 BEDOK NTH ST 3 ,Lat: 1.33358016248275 Long: 103.92421866691
536 BEDOK NTH ST 3 ,Lat: 1.3335411894605 Long: 103.923190774432
537 BEDOK NTH ST 3 ,Lat: 1.33177300757048 Long: 103.924236461237
44 CHAI CHEE ST ,Lat: 1.32901430131171 Long: 103.925667777871
540 BEDOK NTH ST 3 ,Lat: 1.33112972920094 Long: 103.922092625931
702 BEDOK RESERVOIR RD ,Lat: 1.33723650407652 Long: 103.918924437798
615 BEDOK RESERVOIR RD ,Lat: 1.33224981185032 Long: 103.915868711978
712 BEDOK RESERVOIR RD ,Lat: 1.33590729186163 Long: 103.922634043137
50 CHAI CHEE ST ,Lat: 1.32930431416537 Long: 103.922415807329
54 CHAI CHEE ST ,Lat: 1.32947840879761 Long: 103.921105111921
606 BEDOK RESERVOIR RD ,Lat: 1.33122227931301 Long: 103.913799873642
616 BEDOK RESERVOIR RD ,Lat: 1.33182713238417 Long: 103.914991045591
15 BEDOK STH RD ,Lat: 1.32090966739298 Long: 103.935541944296
34 BEDOK STH AVE 2 ,Lat: 1.32205652925918 Long: 103.93835472666
36 BEDOK STH AVE 2 ,Lat: 1.32163299655185 Long: 103.938441289401
35 BEDOK STH AVE 2 ,Lat: 1.32233220742919 Long: 103.939766219283
41 BEDOK STH RD ,Lat: 1.32105071817917 Long: 103.94080318215
42 BEDOK STH RD ,Lat: 1.32147847826862 Long: 103.940721046918
53 NEW UPP CHANGI RD ,Lat: 1.32432684067535 Long: 103.942429994179
51 NEW UPP CHANGI RD ,Lat: 1.32342985805207 Long: 103.942269407116
8 BEDOK STH AVE 2 ,Lat: 1.32284176978435 Long: 103.936046815062
718 BEDOK RESERVOIR RD ,Lat: 1.3366305993765 Long: 103.92574851611
724 BEDOK RESERVOIR RD ,Lat: 1.33714403979137 Long: 103.928433830286
166 BEDOK STH AVE 3 ,Lat: 1.32004079860245 Long: 103.945196685812
71 BEDOK STH RD ,Lat: 1.32041601736618 Long: 103.942732310081
82 BEDOK NTH RD ,Lat: 1.32953680475668 Long: 103.940406562732
78 BEDOK NTH RD ,Lat: 1.32726007220341 Long: 103.940848770214
79 BEDOK NTH RD ,Lat: 1.32769194470055 Long: 103.940763685492
80 BEDOK NTH RD ,Lat: 1.32848132017235 Long: 103.940611608837
134 BEDOK NTH ST 2 ,Lat: 1.32832133313255 Long: 103.93658216345
126 BEDOK NTH ST 2 ,Lat: 1.3281683000397 Long: 103.938917890645
130 BEDOK NTH ST 2 ,Lat: 1.32716150771949 Long: 103.936824833587
132 BEDOK NTH ST 2 ,Lat: 1.32775288998395 Long: 103.936709340476
131 BEDOK NTH AVE 3 ,Lat: 1.3269699402053 Long: 103.93585007622
133 BEDOK NTH AVE 3 ,Lat: 1.32756257230307 Long: 103.93573462699
121 BEDOK NTH RD ,Lat: 1.32964201790706 Long: 103.938821071117
89 BEDOK NTH ST 4 ,Lat: 1.33295683726302 Long: 103.938220862136
62 NEW UPP CHANGI RD ,Lat: 1.32332667400534 Long: 103.940030188552
422 BEDOK NTH RD ,Lat: 1.32868929343533 Long: 103.928893754255
427 BEDOK NTH RD ,Lat: 1.32910888380153 Long: 103.92773420389
507 BEDOK NTH AVE 3 ,Lat: 1.33298071677208 Long: 103.93259903289
508 BEDOK NTH AVE 3 ,Lat: 1.33340012199511 Long: 103.932519441614
517 BEDOK NTH AVE 2 ,Lat: 1.33108906602956 Long: 103.929204536012
95 BEDOK NTH AVE 4 ,Lat: 1.33386999449984 Long: 103.94205674836
93 BEDOK NTH AVE 4 ,Lat: 1.33288899931346 Long: 103.941309734338
43 CHAI CHEE ST ,Lat: 1.32834668503077 Long: 103.925654810377
404 BEDOK NTH AVE 3 ,Lat: 1.32937492395032 Long: 103.933926939087
403 BEDOK NTH AVE 3 ,Lat: 1.32979984749858 Long: 103.933844368582
543 BEDOK NTH ST 3 ,Lat: 1.33033659434823 Long: 103.923223544145
547 BEDOK NTH ST 3 ,Lat: 1.33033113628205 Long: 103.925432072872
708 BEDOK NTH RD ,Lat: 1.33503645745879 Long: 103.919311961318
707 BEDOK NTH RD ,Lat: 1.33546649823112 Long: 103.919288377804
622 BEDOK RESERVOIR RD ,Lat: 1.3340607503551 Long: 103.916898741089
713 BEDOK RESERVOIR RD ,Lat: 1.33631180600308 Long: 103.922392167199
609 BEDOK RESERVOIR RD ,Lat: 1.33183921459218 Long: 103.912364855077
61 CHAI CHEE RD ,Lat: 1.32510871928237 Long: 103.920738188884
56 CHAI CHEE DR ,Lat: 1.32635040550492 Long: 103.920064202822
165 BEDOK STH RD ,Lat: 1.32030892324763 Long: 103.946089973664
505 BEDOK NTH AVE 3 ,Lat: 1.33182838179324 Long: 103.933338253415
417 BEDOK NTH AVE 2 ,Lat: 1.32757551222487 Long: 103.930482353534
710 BEDOK RESERVOIR RD ,Lat: 1.3355737307958 Long: 103.923820023145
613 BEDOK RESERVOIR RD ,Lat: 1.33189327383579 Long: 103.917026960083
602 BEDOK RESERVOIR RD ,Lat: 1.32934898685946 Long: 103.911583237057
603 BEDOK RESERVOIR RD ,Lat: 1.33000183975836 Long: 103.912464022386
605 BEDOK RESERVOIR RD ,Lat: 1.33023693207314 Long: 103.913508109392
112 BEDOK RESERVOIR RD ,Lat: 1.32969408806205 Long: 103.910490219171
1 CHAI CHEE RD ,Lat: 1.32796879176302 Long: 103.922716018139
722 BEDOK RESERVOIR RD ,Lat: 1.33663699329345 Long: 103.928207774481
54 NEW UPP CHANGI RD ,Lat: 1.32486087785589 Long: 103.942554038061
72 BEDOK STH AVE 3 ,Lat: 1.32036659168877 Long: 103.943667906986
31 BEDOK STH AVE 2 ,Lat: 1.32301474306803 Long: 103.938165236776
111 BEDOK NTH RD ,Lat: 1.33145574028188 Long: 103.935458644142
120 BEDOK NTH ST 2 ,Lat: 1.32997311186222 Long: 103.9375717024
118 BEDOK NTH ST 2 ,Lat: 1.33043385999052 Long: 103.937481669683
96 BEDOK NTH AVE 4 ,Lat: 1.33326478123569 Long: 103.940334868697
137 BEDOK NTH AVE 3 ,Lat: 1.32883066193996 Long: 103.935509731277
139 BEDOK NTH AVE 3 ,Lat: 1.32941001130625 Long: 103.935397269548
716 BEDOK RESERVOIR RD ,Lat: 1.33783795176833 Long: 103.924973671246
725 BEDOK RESERVOIR RD ,Lat: 1.33764586553964 Long: 103.928990816937
22 SIN MING RD ,Lat: 1.3572844410824 Long: 103.839396679952
24 SIN MING RD ,Lat: 1.35518696986305 Long: 103.836337992513
309 SHUNFU RD ,Lat: 1.35091296258284 Long: 103.837585157698
304 SHUNFU RD ,Lat: 1.35012170474224 Long: 103.837942388222
308 SHUNFU RD ,Lat: 1.35058252902296 Long: 103.837846846026
310 SHUNFU RD ,Lat: 1.35085167873462 Long: 103.838679123356
160 BT BATOK ST 11 ,Lat: 1.34888490439686 Long: 103.742035794953
161 BT BATOK ST 11 ,Lat: 1.34846915807481 Long: 103.742050806952
164 BT BATOK ST 11 ,Lat: 1.34771697477219 Long: 103.742831711054
177 BT BATOK WEST AVE 8 ,Lat: 1.3463440745148 Long: 103.741742087315
130 BT BATOK WEST AVE 6 ,Lat: 1.35106126001126 Long: 103.745857351625
127 BT BATOK WEST AVE 6 ,Lat: 1.35185612872026 Long: 103.746076774467
205 BT BATOK ST 21 ,Lat: 1.34712172862216 Long: 103.750057276189
248 BT BATOK EAST AVE 5 ,Lat: 1.35025884075015 Long: 103.756604724025
258 BT BATOK EAST AVE 4 ,Lat: 1.35127411954665 Long: 103.758871467713
4 HILLVIEW AVE ,Lat: 1.35722696051582 Long: 103.760850571779
6 HILLVIEW AVE ,Lat: 1.35722696051582 Long: 103.760850571779
2 HILLVIEW AVE ,Lat: 1.35722696051582 Long: 103.760850571779
146 BT BATOK WEST AVE 6 ,Lat: 1.34966890869827 Long: 103.744083499088
138 BT BATOK WEST AVE 6 ,Lat: 1.35044711973729 Long: 103.744471903926
134 BT BATOK WEST AVE 6 ,Lat: 1.35159086987043 Long: 103.74450960649
143 BT BATOK ST 11 ,Lat: 1.3503764354559 Long: 103.74390902286
145 BT BATOK ST 11 ,Lat: 1.34997305498668 Long: 103.743724852615
182 BT BATOK WEST AVE 8 ,Lat: 1.34556402157015 Long: 103.743821531821
180 BT BATOK WEST AVE 8 ,Lat: 1.34555792527722 Long: 103.742841014483
228 BT BATOK CTRL ,Lat: 1.34865945802076 Long: 103.753794578776
227 BT BATOK CTRL ,Lat: 1.34838399787614 Long: 103.753520312233
219 BT BATOK ST 21 ,Lat: 1.34720729813155 Long: 103.754999726682
244 BT BATOK EAST AVE 5 ,Lat: 1.34918269764742 Long: 103.757239164878
116 BT BATOK WEST AVE 6 ,Lat: 1.34962866452512 Long: 103.746381073293
113 BT BATOK WEST AVE 6 ,Lat: 1.34883637963314 Long: 103.745173404083
163 BT BATOK ST 11 ,Lat: 1.34814949552612 Long: 103.742658130106
169 BT BATOK WEST AVE 8 ,Lat: 1.34660733553492 Long: 103.740909286964
165 BT BATOK WEST AVE 8 ,Lat: 1.34731985631578 Long: 103.741974986591
129 BT BATOK WEST AVE 6 ,Lat: 1.35142975219106 Long: 103.746030739669
204 BT BATOK ST 21 ,Lat: 1.34755865555388 Long: 103.74988715048
209 BT BATOK ST 21 ,Lat: 1.34548843030138 Long: 103.748737963222
135 BT BATOK WEST AVE 6 ,Lat: 1.35125231918218 Long: 103.744795017835
184 BT BATOK WEST AVE 8 ,Lat: 1.34623774673934 Long: 103.743824246873
225 BT BATOK CTRL ,Lat: 1.34849607451431 Long: 103.752607744553
123 BT BATOK CTRL ,Lat: 1.35141970002657 Long: 103.747499423763
307 BT BATOK ST 31 ,Lat: 1.35817033436975 Long: 103.748118653062
216 BT BATOK ST 21 ,Lat: 1.3471050066434 Long: 103.753638622774
115 BT BATOK WEST AVE 6 ,Lat: 1.34918319745272 Long: 103.746566795213
117 BT BATOK WEST AVE 6 ,Lat: 1.34996555858187 Long: 103.74714214948
111 BT BATOK WEST AVE 6 ,Lat: 1.34840644346954 Long: 103.745994934101
103 BT BATOK CTRL ,Lat: 1.34822368204242 Long: 103.748034526478
223 BT BATOK EAST AVE 3 ,Lat: 1.34801554533173 Long: 103.753397257075
221 BT BATOK EAST AVE 3 ,Lat: 1.34747562371947 Long: 103.753690953671
214 BT BATOK ST 21 ,Lat: 1.34729998285678 Long: 103.75289444646
120 BT BATOK CTRL ,Lat: 1.3510594273469 Long: 103.747712277505
121 BT BATOK CTRL ,Lat: 1.35162557081969 Long: 103.748011382648
142 BT BATOK ST 11 ,Lat: 1.35000417984867 Long: 103.742860806106
140 BT BATOK ST 11 ,Lat: 1.35076586646897 Long: 103.74385553747
141 BT BATOK ST 11 ,Lat: 1.35044171803071 Long: 103.743212010475
33 TAMAN HO SWEE ,Lat: 1.28780753147299 Long: 103.832780576669

ConnectTimeout: HTTPSConnectionPool(host='www.onemap.gov.sg', port=443): Max retries exceeded with url: /api/common/elastic/search?searchVal=4%20QUEEN'S%20RD&returnGeom=Y&getAddrDetails=Y&pageNum=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x0000015299FCAFC0>, 'Connection to www.onemap.gov.sg timed out. (connect timeout=None)'))

In [41]:
# Create a DataFrame with coordinates and details for each address
df_coordinates = pd.DataFrame({
    'latitude': latitude,
    'longitude': longitude,
    'blk_no': blk_no,
    'road_name': road_name,
    'postal_code': postal_code,
    'address': address
})
len(df_coordinates)

381

In [42]:
# Get the latitude and longitude columns from the DataFrame for later distance calculation
list_of_lat = df_coordinates['latitude']
list_of_long = df_coordinates['longitude']
mrt_lat = mrt_location['latitude']
mrt_long = mrt_location['longitude']

In [43]:
list_of_coordinates = []
list_of_mrt_coordinates = []
# Create tuples of (latitude, longitude) for each address and MRT station
for lat, long in zip(list_of_lat, list_of_long):
    list_of_coordinates.append((lat,long))
for lat, long in zip(mrt_lat, mrt_long):
    list_of_mrt_coordinates.append((lat, long))

In [46]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   --- ------------------------------------ 10.2/125.4 kB ? eta -:--:--
   --------- ----------------------------- 30.7/125.4 kB 660.6 kB/s eta 0:00:01
   ---------------------- ---------------- 71.7/125.4 kB 563.7 kB/s eta 0:00:01
   ------------------------------- ------ 102.4/125.4 kB 590.8 kB/s eta 0:00:01
   -------------------------------------- 125.4/125.4 kB 567.5 kB/s eta 0:00:00
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ---------------------------------------- 0.0/40.3 kB ? eta -:--:--
   ---------------------------------------- 40.3/40.3 kB 940.1 kB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [47]:
# Distance to nearest MRT station using geodesic distance (from the geopy library)
from geopy.distance import geodesic

list_of_dist_mrt = []
min_dist_mrt = []
# Calculate the distance from each address to every MRT station and store the shortest one
for origin in list_of_coordinates:
    for destination in range(0, len(list_of_mrt_coordinates)):
        list_of_dist_mrt.append(geodesic(origin,list_of_mrt_coordinates[destination]).meters)
    shortest = (min(list_of_dist_mrt))
    min_dist_mrt.append(shortest)
    list_of_dist_mrt.clear()

In [48]:
# Distance from CDB
cbd_dist = []
# Use the coordinates of Singapore's CBD (1.2830, 103.8513) to calculate distance
for origin in list_of_coordinates:
    cbd_dist.append(geodesic(origin,(1.2830, 103.8513)).meters) #CBD coordinates

In [49]:
# Add CBD and MRT distance columns to the coordinates DataFrame
df_coordinates['cbd_dist'] = cbd_dist
df_coordinates['min_dist_mrt'] = min_dist_mrt

In [51]:
df_coordinates.head()

,latitude,longitude,blk_no,road_name,postal_code,address,cbd_dist,min_dist_mrt
0,1.36655830166122,103.841624082978,215,ANG MO KIO AVENUE 1,560215,309 ANG MO KIO AVE 1,9301.987544,958.567424
1,1.36619678831054,103.841505011903,216,ANG MO KIO AVENUE 1,560216,216 ANG MO KIO AVE 1,9263.833118,986.842301
2,1.369196965617,103.841666636086,211,ANG MO KIO AVENUE 3,560211,211 ANG MO KIO AVE 3,9591.324840,881.985110
3,1.36844644010937,103.844516260527,202,ANG MO KIO AVENUE 3,560202,202 ANG MO KIO AVE 3,9478.343681,584.672197
4,1.36682360872342,103.83649123351,235,ANG MO KIO AVENUE 3,560235,235 ANG MO KIO AVE 3,9414.164383,1494.273139

In [53]:
# Save the updated DataFrame with coordinates to a CSV file
df_coordinates.to_csv('df_coordinates.csv',index=False)

In [58]:
# Merge the coordinates DataFrame with the original combined DataFrame
final_data = df_coordinates.merge(combined_df, on="address", how='outer')
final_data.head()

,latitude,longitude,blk_no,road_name,postal_code,address,cbd_dist,min_dist_mrt,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_mean
0,NaN,NaN,NaN,NaN,NaN,1 BEACH RD,NaN,NaN,1990-01,KALLANG/WHAMPOA,3 ROOM,1,BEACH RD,04 TO 06,68.0,improved,1979,56000.0,88,5.0
1,NaN,NaN,NaN,NaN,NaN,1 BEACH RD,NaN,NaN,1990-03,KALLANG/WHAMPOA,3 ROOM,1,BEACH RD,10 TO 12,68.0,improved,1979,46000.0,88,11.0
2,NaN,NaN,NaN,NaN,NaN,1 BEACH RD,NaN,NaN,1990-05,KALLANG/WHAMPOA,3 ROOM,1,BEACH RD,07 TO 09,74.0,improved,1979,53800.0,88,8.0
3,NaN,NaN,NaN,NaN,NaN,1 BEACH RD,NaN,NaN,1990-09,KALLANG/WHAMPOA,3 ROOM,1,BEACH RD,07 TO 09,68.0,improved,1979,45000.0,88,8.0
4,NaN,NaN,NaN,NaN,NaN,1 BEACH RD,NaN,NaN,1990-10,KALLANG/WHAMPOA,3 ROOM,1,BEACH RD,16 TO 18,68.0,improved,1979,55000.0,88,17.0

In [62]:
final_data.dropna(inplace=True)

In [63]:
final_data

,latitude,longitude,blk_no,road_name,postal_code,address,cbd_dist,min_dist_mrt,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,storey_mean
371,1.32796879176302,103.922716018139,1,CHAI CHEE ROAD,461001,1 CHAI CHEE RD,9375.220678,915.936076,1990-01,BEDOK,5 ROOM,1,CHAI CHEE RD,07 TO 09,132.0,model a,1983,142000.0,92,8.0
372,1.32796879176302,103.922716018139,1,CHAI CHEE ROAD,461001,1 CHAI CHEE RD,9375.220678,915.936076,1990-08,BEDOK,5 ROOM,1,CHAI CHEE RD,01 TO 03,133.0,model a,1983,130000.0,92,2.0
373,1.32796879176302,103.922716018139,1,CHAI CHEE ROAD,461001,1 CHAI CHEE RD,9375.220678,915.936076,1990-10,BEDOK,5 ROOM,1,CHAI CHEE RD,07 TO 09,132.0,model a,1983,150000.0,92,8.0
374,1.32796879176302,103.922716018139,1,CHAI CHEE ROAD,461001,1 CHAI CHEE RD,9375.220678,915.936076,1991-01,BEDOK,5 ROOM,1,CHAI CHEE RD,04 TO 06,133.0,model a,1983,141000.0,91,5.0
375,1.32796879176302,103.922716018139,1,CHAI CHEE ROAD,461001,1 CHAI CHEE RD,9375.220678,915.936076,1991-07,BEDOK,5 ROOM,1,CHAI CHEE RD,01 TO 03,133.0,model a,1983,163000.0,91,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925186,1.28754332229134,103.821335072268,96,HENDERSON ROAD,150096,96 HENDERSON RD,3372.474831,517.584083,2006-10,BUKIT MERAH,3 ROOM,96,HENDERSON RD,10 TO 12,59.0,improved,1975,185000.0,68,11.0
925187,1.28754332229134,103.821335072268,96,HENDERSON ROAD,150096,96 HENDERSON RD,3372.474831,517.584083,2006-10,BUKIT MERAH,3 ROOM,96,HENDERSON RD,01 TO 03,59.0,improved,1975,165000.0,68,2.0
925188,1.28754332229134,103.821335072268,96,HENDERSON ROAD,150096,96 HENDERSON RD,3372.474831,517.584083,2007-01,BUKIT MERAH,3 ROOM,96,HENDERSON RD,10 TO 12,59.0,improved,1975,175000.0,67,11.0
925189,1.28754332229134,103.821335072268,96,HENDERSON ROAD,150096,96 HENDERSON RD,3372.474831,517.584083,2007-02,BUKIT MERAH,3 ROOM,96,HENDERSON RD,01 TO 03,59.0,improved,1975,170000.0,67,2.0
925190,1.28754332229134,103.821335072268,96,HENDERSON ROAD,150096,96 HENDERSON RD,3372.474831,517.584083,2007-03,BUKIT MERAH,3 ROOM,96,HENDERSON RD,04 TO 06,70.0,improved,1975,201000.0,67,5.0

In [65]:
# Convert specific columns to appropriate data types
final_data['resale_price'] = final_data['resale_price'].astype('float')
final_data['floor_area_sqm'] = final_data['floor_area_sqm'].astype('float')
final_data['lease_commence_date'] = final_data['lease_commence_date'].astype('int64')

In [66]:
# Save the final data to a CSV file
final_data.to_csv('final_data.csv', index = False)